{% extends 'layout.html.twig' %}
    
{% block content %}
    <br><br><br><br><br><br><br><br>
    <a id="addPlate"  onclick="$('#myModal').css('display','block');" class="center green">Ajouter un plat</a>
    <div id="myModal" class="modal">
    <div class="modal-content">
    <div class="head">
        <h3 class="red">Ajouter un plat</h3>
        <div class="close"></div>
    </div>

    <form action="?action=admin" method="POST" enctype="multipart/form-data" id="platesForm">
        <label for="plateName">  Nom du plat :</label>
        <input type="text" name="plateName" id="plateName"><br>
        <label for="description">Description :</label>
        <textarea name="description" id="description"></textarea><br>
        <label for="ingredients">Ingrédient:</label>
        <textarea name="ingredients" id="ingredients"></textarea><br>
        <label for="allergenes">Allergènes:</label>
        <textarea name="allergenes" id="allergenes"></textarea><br>
        <label for="tricks">Astuce:</label>
        <textarea name="tricks" id="tricks"></textarea><br>
        <label for="file">  Image :</label>
        <input type="file" name="file" id="file"><br><br>
        <label for="price">  Prix :</label>
        <input type="text" name="price" id="price"><br><br>
        <label for="category"> Catégorie</label>
        <select name="category" id="category">

            <option value="dish">Plat</option>
            <option value="dessert">Dessert</option>
            <option value="drink">Boisson</option>
            <option value="extra">Extra</option>

        </select><br><br>

        <input  class="btn" type="submit">

    </form>
    </div>
    </div>

    <div id="myModalEdition" class="modal">
        <div class="modal-content">
            <div class="head">
                <h3 class="red">Ajouter un plat</h3>
                <div class="close" onclick="$('#myModalEdition.modal').css('display','none');"></div>
            </div>

            <form action="?action=admin" method="POST"  enctype="multipart/form-data" id="platesFormEditing">

                <label for="plateNameEditing">  Nom du plat :</label>
                <input type="text" name="plateNameEditing" id="plateNameEditing"><br>
                <label for="descriptionEditing">Description :</label>
                <textarea name="descriptionEditing" id="descriptionEditing"></textarea><br>
                <label for="ingredientsEditing">Ingrédient:</label>
                <textarea name="ingredientsEditing" id="ingredientsEditing"></textarea><br>
                <label for="allergenesEditing">Allergènes:</label>
                <textarea name="allergenesEditing" id="allergenesEditing"></textarea><br>
                <label for="tricksEditing">Astuce:</label>
                <textarea name="tricksEditing" id="tricksEditing"></textarea><br>
                <label for="fileEditing">  Image :</label>
                <input type="file" name="fileEditing" id="fileEditing"><br><br>
                <label for="priceEditing">  Prix :</label>
                <input type="text" name="priceEditing" id="priceEditing"><br><br>
                <input type="text" id="idEditing"  name="idEditing" class="none" >
                <label for="categoryEditing"> Catégorie</label>
                <select name="categoryEditing" id="categoryEditing">

                    <option value="dish">Plat</option>
                    <option value="dessert">Dessert</option>
                    <option value="drink">Boisson</option>
                    <option value="extra">Extra</option>

                </select><br><br>

                <input  class="btn" type="submit">

            </form>
        </div>
    </div>

    <div class="plates">
        <h2 class="red">Produits</h2>
        <table>


            <tr class="platesInfo">
                <th>Actif</th>
                <th width="65%">Produits</th>
                <th width="30%">Catégorie</th>
                <th width="5%">Supprimer</th>
                <th>Editer</th>
            </tr>
            {% for key in allPlates %}
            <tr class="contentPlatesInfo">
                {% if key.status == "active" %}
                    <td><input type="checkbox" onclick="status()" name="plate" checked value="{{ key.id }}" ></td>
                {% else %}
                    <td><input type="checkbox" onclick="status()" name="plate" value="{{ key.id }}" ></td>
                {% endif %}
                <td class="name">{{key.name}}</td>
                <td class="category">{{key.category}}</td>
                <td class="description none"> {{ key.description }}</td>
                <td class="ingredients none"> {{ key.ingredients }}</td>
                <td class="allergenes none"> {{ key.allergenes }}</td>
                <td class="tricks none"> {{ key.trick }}</td>
                <td class="price none"> {{ key.price }}</td>
                <td><img src="assets/images/garbage.png" alt="Supprimer" onclick="deletePlates({{ key.id }})" ></td>
                <td><img src="assets/images/edit.png"  alt="Editer" onclick="addValue($(this),{{ key.id }});$('#myModalEdition').css('display','block');" class="center green plateEditing"  ></td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="partners">
        <h2 class="red">Demande de partenariat</h2>
        <table>
            <tr class="partnersInfo">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Date d'envoi</th>
                <th>Supprimer</th>
            </tr>
            {% for key in allPartners %}
                <tr class="contentPartnersInfo">
                    <td class="firstname">{{key.firstname}}</td>
                    <td class="lastname">{{key.lastname}}</td>
                    <td class="email "> {{ key.email }}</td>
                    <td class="phone"> {{ key.phone }}</td>
                    <td class="date"> {{ key.date }}</td>
                    <td><img src="assets/images/garbage.png" alt="Supprimer" onclick="deletePartners({{ key.id }})" ></td>
                </tr>
            {% endfor %}

        </table>
    </div>




    <script src="assets/js/admin.js"></script>

{% endblock %}