{% extends 'layout.html.twig' %}

{% block content %}

    <div class="customizeHeader">
        <h2>Personnalise ton menu</h2>
        <div class="row">
            <div class="element">
                <img src="assets/images/dish.png" alt="Icon">
                <span>Choisis ton plat</span>
            </div>
            <div class="element">
                <img src="assets/images/dessert.png" alt="Icon">
                <span>Choisis ton dessert</span>
            </div>
            <div class="element">
                <img src="assets/images/drink.png" alt="Icon">
                <span>Choisis ta boisson</span>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <img src="assets/images/validation.png" alt="Icon">
                <span>Valide ta commande</span>
            </div>
        </div>
    </div>

    <div class="itemnavmobile">
        <a href="#dish" class="dish">Plats</a>
        <a href="#dessert" class="dessert">Desserts</a>
        <a href="#drink" class="drink">Boissons</a>
    </div>

    <form id="formMeal" method="POST" action="?action=customize">
        <div class="row">
            <div class="itemsCustom">
                <div class="categorytitle" id="dish">Plats du jour</div>
                <div class="dishes">
                    {% for dish in dishes %}
                        <input type="radio" id="{{ dish.id }}" name="dish" value="{{ dish.id }}" class="none">
                        <label for="{{ dish.id }}"> <img src="{{ dish.image }}" alt="{{ dish.name }}"><h3 class="dish">{{ dish.name }}</h3></label>
                    {% endfor %}
                </div>
            </div>

            <div class="itemsCustom">
                <div class="categorytitle" id="dessert">Desserts du jour</div>
                <div class="desserts">
                    {% for dessert in desserts %}
                        <input type="radio"  id="{{ dessert.id }}" name="dessert" value="{{ dessert.id }}" class="none">
                        <label for="{{ dessert.id }}"><img src="{{ dessert.image }}" alt="{{ dessert.name }}"><h3 class="dessert">{{ dessert.name }}</h3></label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row row2">
            <div class="itemsCustom">
                <div class="categorytitle" id="drink">Boissons du jour</div>
                <div class="drinks">
                    {% for drink in drinks %}
                        <input type="radio" id="{{ drink.id }}" name="drinks" value="{{ drink.id }}" class="none">
                        <label for="{{ drink.id }}"> <img src="{{ drink.image }}" alt="{{ drink.name }}"><h3 class="drink">{{ drink.name }}</h3></label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <input type="submit" value="J'ai faim">

    </form>
    <script src="assets/js/customize.js"></script>
{% endblock %}
