{% extends 'layout.html.twig' %}

{% block content %}

    <ul class="rslides">
        <li><a href="?action=customize"><img src="assets/images/homehead1.png" alt="Personnalise ton menu"></a></li>
    </ul>

    <div class="infobar">
        <div class="element">
            <img src="assets/images/clock.png" alt="Horloge">
            <span>Livré en 20 minutes</span>
        </div>
        <div class="element">
            <img src="assets/images/chef.png" alt="Horloge">
            <span>Fait par notre equipe de chef</span>
        </div>
        <div class="element">
            <img src="assets/images/cloche.png" alt="Horloge">
            <span>A faire rechauffer en 2 minutes</span>
        </div>
    </div>

    <div class="itemnavmobile">
        <a href="#dish" class="dish">Plats</a>
        <a href="#dessert" class="dessert">Desserts</a>
        <a href="#drink" class="drink">Boissons</a>
    </div>

    <div class="categorytitle" id="dish">Plats du jour</div>

    <div class="items">
        {% for dish in dishes %}
            <div class="item dish">
                <img src="{{ dish.image }}" alt="{{ dish.name }}">
                <div class="content">
                    <h2 class="title">{{ dish.name }}</h2>
                    <p class="description">{{ dish.description }}</p>
                    <div class="actions">
                        <input class="more" type="image" src="assets/images/more.png" alt="En savoir plus" data-ingredients="{{ dish.ingredients }}" data-allergenes="{{ dish.allergenes }}" data-trick="{{ dish.trick }}" onclick="openModal(this);">
                        <span>{{dish.price}} €</span>
                        <input class="addtocart" type="image" src="assets/images/addtocart.png" alt="Ajouter au panier" onclick="addtocart({{dish.id}})">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="categorytitle" id="dessert">Desserts du jour</div>

    <div class="items">
        {% for dessert in desserts %}
            <div class="item dessert">
                <img src="{{ dessert.image }}" alt="{{ dessert.name }}">
                <div class="content">
                    <h2 class="title">{{ dessert.name }}</h2>
                    <p class="description">{{ dessert.description }}</p>
                    <div class="actions">
                        <input class="more" type="image" src="assets/images/more.png" alt="En savoir plus" data-ingredients="{{ dessert.ingredients }}" data-allergenes="{{ dessert.allergenes }}" data-trick="{{ dessert.trick }}" onclick="openModal(this);">
                        <span>{{dessert.price}} €</span>
                        <input class="addtocart" type="image" src="assets/images/addtocart.png" alt="Ajouter au panier" onclick="addtocart({{dessert.id}})">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="categorytitle" id="drink">Boissons du jour</div>

    <div class="items">
        {% for drink in drinks %}
            <div class="item drink">
                <img src="{{ drink.image }}" alt="{{ drink.name }}">
                <div class="content">
                    <h2 class="title">{{ drink.name }}</h2>
                    <p class="description">{{ drink.description }}</p>
                    <div class="actions">
                        <span>{{drink.price}} €</span>
                        <input class="addtocart" type="image" src="assets/images/addtocart.png" alt="Ajouter au panier" onclick="addtocart({{drink.id}})">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if extras is defined and extras is not empty %}

    <div class="categorytitle" id="extra">Extra</div>

    <div class="items">
        {% for extra in extras %}
            <div class="item extra">
                <img src="{{ extra.image }}" alt="{{ extra.name }}">
                <div class="content">
                    <h2 class="title">{{ extra.name }}</h2>
                    <p class="description">{{ extra.description }}</p>
                    <div class="actions">
                        <input class="more" type="image" src="assets/images/more.png" alt="En savoir plus" data-ingredients="{{ extra.ingredients }}" data-allergenes="{{ extra.allergenes }}" data-trick="{{ extra.trick }}" onclick="openModal(this);">
                        <span>{{extra.price}} €</span>
                        <input class="addtocart" type="image" src="assets/images/addtocart.png" alt="Ajouter au panier" onclick="addtocart({{extra.id}})">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% endif %}

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="$('.modal').css('display','none');"></span>
            <h4>Ingrédients :</h4>
            <p id="ingrédients">

            </p>
            <h4>Allergènes :</h4>
            <p id="allergènes">

            </p>
            <h4>Astuce(s) :</h4>
            <p id="trick">

            </p>
        </div>
    </div>

    <script src="assets/js/responsiveslides.min.js"></script>
    <script src="assets/js/home.js"></script>
{% endblock %}
