{% extends 'layout.html.twig' %}

{% block content %}

<div class="orderpage">
    <ol class="progress">
        <li class="is-complete" data-step="1">
            Panier
        </li>
        <li class="is-active" data-step="2">
            Coordonnées
        </li>
        <li data-step="3">
            Paiement
        </li>
        <li data-step="4" class="progress__last">
            Validation
        </li>
    </ol>

    <h2 class="green">Votre commande</h2>

    <table class="ordercontent">
        {% for element in CartElements %}
        <tr>
            <td>{{ element.quantity }}x {{ element.name }}</td>
            <td>{{ element.price * element.quantity }} €</td>
        </tr>
        {% endfor %}
        {% for reduction in MealReductions %}
        <tr>
            <td>Reduction grace au menu</td>
            <td>-{{ reduction }} €</td>
        </tr>
        {% endfor %}
    </table>

    <h3 class="red">Sous Total : {{ Total }} €</h3>

    <span>Frais de port : 2€</span>

    <h3 class="red">Total : {{ Total + 2 }} €</h3>

    <h2 class="green">Vos coordonnées personnelles</h2>

    <div class="orderaddresses">
        <div class="billingaddress">
            <h3 class="red">Adresse de facturation :</h3>
            <div>
                <span>Choisir une adresse : </span>
                <select id="billingaddress" onchange="updateInput('billing')">
                    {% for address in addresses %}
                        {% if address.defaultAddress == "true" %}
                            <option value="{{ address.id }}" data-firstname="{{ address.firstname }}" data-lastname="{{ address.lastname }}" data-phone="{{ address.phone }}" data-street="{{ address.streetNumber }} {{ address.street }}" data-zip="{{ address.zipcode }}" data-city="{{ address.city }}" selected>{{ address.streetNumber }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}</option>
                        {% else %}
                            <option value="{{ address.id }}" data-firstname="{{ address.firstname }}" data-lastname="{{ address.lastname }}" data-phone="{{ address.phone }}" data-street="{{ address.streetNumber }} {{ address.street }}" data-zip="{{ address.zipcode }}" data-city="{{ address.city }}">{{ address.streetNumber }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <input disabled name="billingfirstname">
                <input disabled name="billinglastname">
            </div>
            <input disabled name="billingphone">
            <input disabled name="billingstreet">
            <div>
                <input disabled name="billingzip">
                <input disabled name="billingcity">
            </div>
        </div>
        <div class="shippingaddress">
            <h3 class="red">Adresse de livraison :</h3>
            <div>
                <span>Choisir une adresse : </span>
                <select id="shippingaddress" onchange="updateInput('shipping')">
                    {% for address in addresses %}
                        {% if address.defaultAddress == "true" %}
                            <option value="{{ address.id }}" data-firstname="{{ address.firstname }}" data-lastname="{{ address.lastname }}" data-phone="{{ address.phone }}" data-street="{{ address.streetNumber }} {{ address.street }}" data-zip="{{ address.zipcode }}" data-city="{{ address.city }}" selected>{{ address.streetNumber }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}</option>
                        {% else %}
                            <option value="{{ address.id }}" data-firstname="{{ address.firstname }}" data-lastname="{{ address.lastname }}" data-phone="{{ address.phone }}" data-street="{{ address.streetNumber }} {{ address.street }}" data-zip="{{ address.zipcode }}" data-city="{{ address.city }}">{{ address.streetNumber }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="text" disabled name="shippingfirstname">
                <input type="text" disabled name="shippinglastname">
            </div>
            <input type="text" disabled name="shippingphone">
            <input type="text" disabled name="shippingstreet">
            <div>
                <input type="text" disabled name="shippingzip">
                <input type="text" disabled name="shippingcity">
            </div>
        </div>
    </div>
    <button type="button" onclick="validateStep1()">Aller au paiement</button>
</div>

<script src="assets/js/order.js"></script>

{% endblock %}
