{% extends 'layout.html.twig' %}

{% block content %}

<div class="orderpage">
    <div id="steps">
        <div class="step" id="step1" onclick="location.href='?action=order&step=1';" data-desc="Coordonnées">1</div>
        <div class="step active" id="step2" data-desc="Paiement">2</div>
        <div class="step" id="step3" data-desc="Validation">3</div>
    </div>

    <h2 class="green">Votre commande</h2>

    <table class="ordercontent">
        {% for element in CartElements %}
        <tr>
            <td>{{ element.quantity }}x {{ element.name }}</td>
            <td>{{ element.price * element.quantity }} €</td>
        </tr>
        {% endfor %}
        {% for reduction in MealReductions %}
        <tr>
            <td>Reduction grace au menu</td>
            <td>-{{ reduction }} €</td>
        </tr>
        {% endfor %}
    </table>

    <h3 class="red">Sous Total : {{ Total }} €</h3>

    <span>Frais de port : 2 €</span>

    <h3 class="red">Total : {{ Total + 2 }} €</h3>


    <button type="button" onclick="validateStep2()">Payer</button>

</div>

<script src="assets/js/order.js"></script>

{% endblock %}
