{% extends 'layout.html.twig' %}

{% block content %}

<div class="orderpage">
    <ol class="progress">
        <li class="is-complete" data-step="1">
            Panier
        </li>
        <li class="is-complete" data-step="2">
            Coordonnées
        </li>
        <li class="is-active" data-step="3">
            Paiement
        </li>
        <li data-step="4" class="progress__last">
            Validation
        </li>
    </ol>

    <h2 class="green">Votre commande</h2>

    <table class="ordercontent">
        {% for element in CartElements %}
        <tr>
            <td>{{ element.quantity }}x {{ element.name }}</td>
            <td>{{ element.price * element.quantity }} €</td>
        </tr>
        {% endfor %}
        {% for reduction in MealReductions %}
        <tr>
            <td>Reduction grace au menu</td>
            <td>-{{ reduction }} €</td>
        </tr>
        {% endfor %}
    </table>

    <h3 class="red">Sous Total : {{ Total }} €</h3>

    <span>Frais de port : 2 €</span>

    <h3 class="red">Total : {{ Total + 2 }} €</h3>


    <button type="button" onclick="validateStep2()">Payer</button>

</div>

<script src="assets/js/order.js"></script>

{% endblock %}
