{% extends 'layout.html.twig' %}

{% block content %}

<div class="editblock">
    <h2 class="red">Gérer les paramètres du compte</h2>

    <table>
        <tr>
            <th>Prénom</th>
            <td contenteditable="true" onBlur="editProfile(this,'firstname')">{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td contenteditable="true" onBlur="editProfile(this,'lastname')">{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td contenteditable="true" onBlur="editProfile(this,'email')">{{ user.email }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td contenteditable="true" onBlur="editProfile(this,'phone')">{{ user.phone }}</td>
        </tr>
    </table>
</div>

<div class="addresses">
    <h2 class="red">Adresses</h2>
    <table>
        <tr>
            <th>Par défaut</th>
            <th width="50%">Adresse</th>
            <th>Supprimer</th>
        </tr>
    {% for key in allAddress %}
        <tr>
            {% if key.defaultAddress == "true" %}
            <td><input type="radio" name="defaultAddress" checked value="{{ key.id }}"></td>
            {% else %}
            <td><input type="radio" name="defaultAddress" value="{{ key.id }}"></td>
            {% endif %}
            <td>{{ key.streetNumber }} {{ key.street }}, {{ key.zipcode }} {{ key.city }}</td>
            <td><img src="assets/images/garbage.png" alt="Supprimer" onclick="deleteAddress({{ key.id }})"></td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3" class="center green">Ajouter une adresse</td>
    </tr>
    </table>
</div>

<div class="pointblock">
    <h2 class="red">Points de fidélité</h2>
    <h3 class="green">Vos points : {{ user.points }}</h3>
    <!-- PROGRESS BAR A FAIRE -->
    <h3 class="green">Comment ça marche ?</h3>
    <p>
        1€ = 1 point
    </p>
    <h3 class="green">Récompenses :</h3>
    <p>
        A venir...
    </p>
</div>

<div class="orders">
    <h2 class="red">Historique de commande</h2>

    <table>
        {% for order in orders %}
        <tr>
            <td>
                <h3>Commande n° {{ order.id }}</h3>
                <p>
                    Date et heure de la commande :<br />
                    {{ order.date }}<br />
                    Envoyé à :<br>
                    <!-- ADRESSE -->
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="assets/js/profile.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDugzDcYGo-62iMQ3aUepxGtqwyzz6ZC8M&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
