{% extends 'layout.html.twig' %}

{% block content %}
<h1>Bonjour {{ user.firstname }}</h1>
    <div id="form">
        <fieldset>
    <div class="infoToEdit">

        <div class="align">
            <div class="infoUser" id="emailRecap"> Email: {{ user.email }}</div><img id="parameterEmail" alt="image rouage" class="img_params parameter" src="assets/images/parametre.png">
            <div id="infoEmail">
                <form action="?action=profile" method="POST" name="emailForm" class="none" id="emailForm">
                    <input type="text" name="emailEditing" id="emailEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="firstnameRecap"> Prénom: {{ user.firstname }}</div> <img alt="image rouage" id="parameterFirstname" class="img_params parameter" src="assets/images/parametre.png">
            <div id="infoFirstname">
                <form action="?action=profile" method="POST" name="firstnameForm" class="none" id="firstnameForm">
                    <input type="text" name="firstnameEditing" id="firstnameEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="lastnameRecap"> Nom: {{ user.lastname }}</div><img alt="image rouage" class="img_params parameter" id="parameterLastname" src="assets/images/parametre.png">
            <div id="infoLastname">
                <form action="?action=profile" method="POST" name="lastnameForm" class="none" id="lastnameForm">
                    <input type="text" name="lastnameEditing" id="lastnameEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="phoneRecap"> Téléphone : {{ user.phone }}</div>
            <img id="parameterPhone" class="img_params parameter" alt="image rouage" src="assets/images/parametre.png">
            <div id="infoUsername">
                <form action="?action=profile" method="POST" name="phoneForm" class="none" id="phoneForm">
                    <input type="text" name="phoneEditing" id="phoneEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="pointsRecap"> Vos points : {{ user.points }}</div>

        </div>
    </div>
    </fieldset>
    </div>


    <a href="?action=logout">Logout</a>

    <script src="assets/js/profile.js"></script>
    <link rel="stylesheet" href="assets/css/profile.css">
{% endblock %}
