{% extends 'layout.html.twig' %}

{% block content %}
<h1>Bonjour {{ user.firstname }}</h1>


    <div class="contentAdress">
        {% for key in allAddress %}


          <div class="listAddress"> {{ key.name}} : {{ key.streetNumber}} {{ key.street}}   {{ key.zipcode}} {{ key.firstname}} {{ key.lastname}}</div>
            {% endfor %}

    </div>

    <div id="form">

            <fieldset class="fieldsetSend">
                <legend> Insérez votre adresse</legend>
                <form action="?action=profile" method="POST" name="addressForm" id="addressForm">
                    <label for="pseudo">Nom de l'adresse : </label>
                    <input type="text" name="name" id="name"><br>
                    <label for="autocomplete">Adresse</label>
                    <input id="autocomplete" placeholder="Entrer votre adresse..." onFocus="geolocate()" type="text">
                    <label for="firstnameAddress"> Votre prénom</label>
                    <input type="text" name="firstnameAddress" id="firstnameAddress" value="{{ user.firstname }}"><br>
                    <label for="lastnameAddress"> Votre nom</label>
                    <input type="text" name="lastnameAddress" id="lastnameAddress" value="{{ user.lastname}}"><br>
                    <label for="phone">Téléphone: </label>
                    <input type="text" name="phone" id="phone"><br>


                    <input type="hidden" id="street_number">
                    <input type="hidden" id="route">
                    <input type="hidden" id="locality">
                    <input type="hidden" id="administrative_area_level_1">
                    <input type="hidden" id="country">
                    <input type="hidden" id="postal_code">
                    <input type="submit" name="submitAddress" value="Valider">
                </form>
            </fieldset>
            <br><br>
        <fieldset>
    <div class="infoToEdit">

        <div class="align">
            <div class="infoUser" id="emailRecap"> Email: {{ user.email }}</div><img id="parameterEmail" alt="image rouage" class="img_params parameter" src="assets/images/parametre.png">
            <div id="infoEmail">
                <form action="?action=profile" method="POST" name="emailForm" class="none" id="emailForm">
                    <input type="text" name="emailEditing" id="emailEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="firstnameRecap"> Prénom: {{ user.firstname }}</div> <img alt="image rouage" id="parameterFirstname" class="img_params parameter" src="assets/images/parametre.png">
            <div id="infoFirstname">
                <form action="?action=profile" method="POST" name="firstnameForm" class="none" id="firstnameForm">
                    <input type="text" name="firstnameEditing" id="firstnameEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="lastnameRecap"> Nom: {{ user.lastname }}</div><img alt="image rouage" class="img_params parameter" id="parameterLastname" src="assets/images/parametre.png">
            <div id="infoLastname">
                <form action="?action=profile" method="POST" name="lastnameForm" class="none" id="lastnameForm">
                    <input type="text" name="lastnameEditing" id="lastnameEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="phoneRecap"> Téléphone : {{ user.phone }}</div>
            <img id="parameterPhone" class="img_params parameter" alt="image rouage" src="assets/images/parametre.png">
            <div id="infoUsername">
                <form action="?action=profile" method="POST" name="phoneForm" class="none" id="phoneForm">
                    <input type="text" name="phoneEditing" id="phoneEditing"><br>
                    <input type="submit" value="valider">
                </form>
            </div>
        </div>
        <div class="align">
            <div class="infoUser" id="pointsRecap"> Vos points : {{ user.points }}</div>

        </div>
    </div>
    </fieldset>
    </div>


    <a href="?action=logout">Logout</a>


    <link rel="stylesheet" href="assets/css/profile.css">
    <script src="assets/js/profile.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDugzDcYGo-62iMQ3aUepxGtqwyzz6ZC8M&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
